# Production Dependencies
django>=5.2.9
django-tailwind[cookiecutter,honcho,reload]>=4.4.1
pillow>=12.0.0
python-dotenv>=1.0.0
gunicorn>=21.2.0
whitenoise>=6.6.0
psycopg2-binary>=2.9.9  # PostgreSQL adapter

# Development Dependencies (optional)
faker>=38.2.0
