{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>African OSS Spotlight</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% tailwind_css %}
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap"
        rel="stylesheet" />

</head>

<body class="bg-background-light dark:bg-background-dark font-display text-text-light dark:text-text-dark">
    <div class="relative flex h-auto min-h-screen w-full flex-col group/design-root overflow-x-hidden">
        {% include 'navbar.html' %}
        {% block content %}
        {% endblock %}
        {% include 'footer.html' %}
    </div>
</body>

</html>